body{
    margin-right: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: .5rem;   
}
/* Header and Sidebar */
.sidebar-buttons{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sidebar-buttons span{
    color: rgba(129,133,137,255);
    font-weight: 500;
}
.sidebar-buttons a{
    text-decoration: none;
}
.logo{
    width: 6rem;
}
.backbutton{
    height: 2rem;
    width: 2rem;
}
.logo-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar li{
    list-style: none;
}
.dash-right svg{
    height: .8rem;
    width: 1rem;
}
.header-searchbar{
    margin-left: 12.9rem;
    padding-left: .5rem;
    padding-right: .5rem;
    width: 62rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .3rem;
}
.search-box{
    width: 100%;
}
.search-box:focus{
    outline: none;
}
::placeholder{
    color: rgba(208,213,218,255);
}
.green-dot{
    position: relative;
    z-index: 90;
    height: .5rem;
    width: .5rem;
    background-color: rgba(40,199,111,255);
    border-radius: 50%;
    margin-top: -.8rem;
    margin-left: 1.5rem;
}
.search-field{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 60%;
}
.search-field img{
    height: 1.5rem;
    width: 1.5rem;
}
.profile{
    margin-top: 1rem;
    margin-left: 5rem;
    height: 3rem;
    width: 18%;
}
.profile img{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
}
.profile-box{
    width: 17%;
    height: 3rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.man{
    position: relative;
    z-index: 3;
}
.man img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.profile-box span{
    font-size: .7rem;
}
.profile-box .span-inside{
    font-weight: bold;
}
#search{
    border: none;
}

/* vertical sidebar */
.sidebar{
    margin-top: -4rem;
    position: absolute;
    padding-left: .2rem;
    padding-top: 1.4rem;
    width: 190px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 27rem;}

.dashboard select{
    width: 9rem;
    border: none;
    height: 1rem;
}
.employee-seperate{
    color:rgba(245,92,92,255);
}
.dashboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    height: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(166,169,172,255);
    font-size: .7rem;
}
.dashboard-seperate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px; 
    margin-top: 0;
    height: 2rem;
    border-radius: .5rem;
    background-color: rgba(254,233,233,255);
    margin-bottom: 0;
    color: rgba(245,94,94,255);
    font-size: .7rem;
    padding-right: 0.5rem; 
}
.corner-line{
    height: 2rem;
    background: rgba(244,72,72,255);
    width: 4px;
    border-radius: 1rem 0 0 1rem;
}
.special-button{
    display:flex;
    justify-content: space-between;
}
.dashboard-seperate span{
    color: rgba(246,112,112,255);
    font-weight: 500;
}
.dash-left{
    margin-left: .3rem;
    display: flex;
    gap: .4rem;
    align-items: center;
}
.heading{
    margin-left: .5rem;
    margin-top: 1rem;
    font-size: .7rem;
    color: rgba(211,212,213,255);
    font-weight: 500;
}
.department-button-left{
    margin-left: .5rem;
    margin-top: 0;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    gap: 1rem;
    color: rgba(166,170,173,255);
}
.sidebar li{
    list-style: none;
}
.update-section{
    height: fit-content;
    width: fit-content;
    margin-right: 1rem;
    background-color: rgba(254,246,246,255);
    border-radius: .5rem;
    font-size: .8rem;
    padding: .6rem .5rem .6rem .5rem;
}
.install{
    color: rgba(245,96,96,255);
}
.dismiss-button{
    width: 5rem;
    height: 2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    background-color: rgba(253,230,230,255);
    color: rgba(248,145,145,255);
    cursor: pointer;
}
.update-buttons{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.accept-button{
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    border-radius: .4rem;
    background-color: rgba(244,72,72,255);
    color: white;
}

/* Add Employee section */
.add-employee{
    margin-top: 1.4rem;
    margin-left: 12.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-employee-button{
    border: none;
    width: 12rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    text-align: center;
    color: white;
    background-color: rgba(244,72,72,255);
    border-radius: .5rem;
}
.add-emp-heading{
    display: flex;
    align-items: center;
    gap: .3rem;
    color: rgba(88,106,123,255);
    font-size: 1rem;
    font-weight: 500;
}
.add-employee-conetentpart span{
    font-size: .8rem;
    color: rgba(179,187,194,255);
}

/* Role Description */
.role-description{
    margin-left: 12.9rem;
}
.role-description p{
    margin-top: 0;
    font-size: .9rem;
    color: rgba(179,187,194,255);
}

/* Info Card List Section */
.info-cards-list{
    margin-left: 12.9rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.user-profile-box{
    display: flex;
    align-items: center;
    gap:.4rem;
}
.info-card{
    width: 15rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 1rem;
    height: 13rem;
    border: 1px solid rgba(179,187,194,255);
    border-radius: .5rem;
}
.arrow-item{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow-item div{
    display: flex;
    align-items: center;
    gap: .3rem;
}
.arrow-item span{
    font-size: .7rem;
    color:  rgba(142,146,150,255);
    font-weight: 500;
}
.infocard-items{
    margin-top: .4rem;
    display: flex;
    align-items: center;
    gap:1rem;
}
.infocard-items span{
    color: rgba(142,146,150,255);
    font-weight: 500;
    font-size: .7rem;
}
.user-profile-box img{
    border-radius: 50%;
    height: 2.3rem;
    width: 2.2rem;
}
.user-profile-box .span-outside{
    color: black;
    font-weight: 500;
    font-size: .8rem;
}
.user-profile-box .span-inside{
    font-size: .7rem;
    color: rgba(105,105,105,255);
}